Package: emcssh
Version: 0.0.4
Maintainer: Aspanta Limited <info@aspanta.com>
Architecture: amd64
Section: net
Priority: optional
Description: Emercoin SSH Authenticator
Depends: emercoin, pwgen, openssl, libcurl4-openssl-dev, libjansson-dev
Build-Depends: libcurl4-openssl-dev, libjansson-dev
